.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide h1 {
  color: white;
  font-size: 2em;
}

/* Slide */
.slide-1 {
  background-image: url("assets/Existencialismo.jpg");
  opacity: 0.5;
}

/* Slide 2 */
.slide-2 {
  background-image: url("assets/0-4.jpg");
  opacity: 0.5;
  background-blend-mode: multiply;
}
